@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=Inter:wght@300;600&family=Montserrat:wght@300;400&family=Orbitron:wght@500&family=Oswald&family=Plus+Jakarta+Sans:wght@400;500&family=Roboto+Condensed&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 62.5%;
  color: black;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
  
}

.App {
  text-align: center;
  background: rgb(228, 228, 228);
 
}
